@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
.main{
    background-color: rgb(245,245,245);
}

html {

    margin-top: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(245,245,245);
}

body{
    background-color: rgb(245,245,245);
}

.main{
    background-color: rgb(245,245,245);
}


.content{
    margin-top: 10px;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 9%;
    background-color: rgb(245,245,245);
}

.greet{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 28px;
}

.g-text{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
}



.bottom-nav {
    color: #000;
    background-color: white;
    border-top: 1 8px 16px 1#333;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 9%;

}

.nav-items {
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
}

.nav-items img{
    text-align: center;
}

.nav-text{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 12px;
    margin: 0;
}

.item{
    text-align: center;
}

