@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');


html {

    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(245, 245, 245);
}

.bottom-nav {
    color: #000;
    background-color: white;
    border-top: 1 8px 16px 1#333;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
    text-align: justify;

}

.nav-items {
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    justify-content: space-between;
}